*{
    padding: 0;
    margin: 0;
}

html{
    width: 100%;
}
body{
    margin: 0;
    padding: 0;
}

/*HEADER*/

header{
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    min-height: 80px;
    background-color: rgb(0, 0, 0);
    color: white;
    z-index: 1;
}

.name-restaurant{
    position: relative;
    left: 100px;
    padding-top: 25px ;
    font-size: 30px;
}

.logo{
    position: absolute;
    margin-left: 300px;
    height: 80px;
    width: 80px;
}

nav{
    max-width: 100%;
    
}

.nav-link{
    text-decoration: none;
    color: white;
    position: relative;
    top: 30px;
    margin-left: 80px;
    margin-right: 50px;
    padding: 0;
}

.nav-link:hover{
    color: wheat;
}

nav > ul{
    list-style: none;
    display: flex;
}

/*MEDIA HEADER*/
@media (max-width: 830px){
    .nav-link{
        margin-left: 40px;
        margin-right: 25px;
    }
    .logo{
        height: 60px;
        width: 60px;
    }
}

@media (max-width: 600px){
    nav > ul{
        flex-direction: column;
        margin-bottom: 50px;
    }
    .name-restaurant{
        top: 20px;
        font-size: 20px;
        left: 50px;
    }
    .logo{
       width: 0;
       height: 0;
    }
}
/*MEDIA HEADER*/
/*HEADER FINISHED*/

/*SECTION ABOUT*/
#about{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
    )
    ,url("https://fondosmil.com/fondo/66103.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.title-about{
    position: relative;
    top: 150px;
    margin-left: 180px;
    color: white;
    text-align: left;
    font-size: 150px;
    font-family: 'Courier New';
}

.subtitle-about{
    position: relative;
    margin-left: 220px;
    top: 150px;
    font-family: 'Courier New';
    font-size: 30px;
    color: white;
    text-align: left;
}

.button-menu{
    background-color: rgb(215, 141, 3);
    font-size: 35px;
    font-family: courier;
    padding: 10px;
    box-sizing: content-box;
    position: relative;
    top: 190px;
    left: 330px;
    border: 3px solid black;
}

.button-menu:hover{
    background-color: rgb(193, 129, 10);
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.3s;
    margin: 0 auto;
}

/*MEDIA ABOUT*/
@media (max-width: 840px){
    .title-about{ 
        font-size: 90px;
        margin-top: 120px;
    }
    .subtitle-about{
        font-size: 15px;
    }
    .button-menu{
        font-size: 15px;
        top: 160px;
        left: 250px
    }
}

@media (max-width: 620px){
    .title-about{
        font-size: 65px;
        margin: 0 auto;
        position: relative;
        left: 110px;
        top: 310px; 
    }
    .subtitle-about{
        font-size: 17px;
        margin: 0 auto;
        position: relative;
        left: 120px;
        top: 315px;
    }
    .button-menu{
        font-size: 25px;
        left: 170px;
        top: 330px;
    }
}

@media (max-width: 435px){
    .title-about{
        font-size: 50px;
        position: relative;
        right: 10px;
    }
    .subtitle-about{
        margin-left: 100px;
        position: relative;
        right: 20px;
        font-size: 0px;
    }
    .button-menu{
        left: 140px;
        font-size: 20px;
        position: relative;
        top: 310px;
    }
}

@media (max-width: 339px){
    .title-about{
        margin: 0 auto;
        font-size: 45px;
        position: relative;
        left: 70px;
    }
    .subtitle-about{
        margin-left: 100px;
        position: relative;
        right: 20px;
        font-size: 0px;
    }
    .button-menu{
        left: 105px;
        font-size: 17px;
    }
}

@media (max-width: 290px){
    .title-about{
        font-size: 45px;
        margin: 0 auto;
        position: relative;
        left: 40px;
    }
    .subtitle-about{
        font-size: 0px;
        margin-left: 50px;
    }
    .button-menu{
        left: 70px;
    }
}
/*MEDIA ABOUT FINISHED*/
/*SECTION ABOUT FINISHED*/

/*SECTION MENU*/
#menu-title{
    text-align: center;
    background-color: rgb(0, 0, 0);
    background-size: cover;
    height: 40vh;
    margin: 0 auto;
}

.menu-title{
    display: inline-block;
    position: relative;
    margin-top: 100px;
    font-size: 60px;
    color: white;
    font-family: Times 'Times New Roman';
}

.menu-subtitle{
    color: rgb(172, 112, 0);
    font-weight: bold; 
    font-size: 40px;
    margin-top: 20px;
    letter-spacing: 3px;
}

.menu-title::after, .menu-title::before{
    content: '';
    position: absolute;
    width: 190px;
    height: 3px;
    background-color: white;
    top: 0.6em;
}

/*MEDIA AFTER BEFORE*/
 
@media (max-width: 900px){
    .menu-title{
        font-size: 30px;
    }
    .menu-subtitle{
        font-size: 20px;
    }
}

@media (max-width: 700px){
    #menu-title{
        padding-top: 30px;
    }
    .menu-title{
        font-size: 25px;
    }
    .menu-subtitle{
        font-size: 15px;
    }
    .menu-title::after, .menu-title::before{
        width: 70px;
    }
    .menu-title::before{
        left: -80px;
    }
    .menu-title::after{
        right: -80px;
    }
}

@media (max-width: 340px){
    .menu-title{
        font-size: 17px;
    }
    .menu-subtitle{
        font-size: 16px;
    }
}

@media (min-width: 701px){
    .menu-title::before{
    left: -210px;
    }

    .menu-title::after{
    right: -210px;
    }
}
/*MEDIA AFTER BEFORE FINISHED*/
/*SECTION PIZZA*/
#pizzas{
    position: relative;
    color: white;
    background-color: black;
    height: 100vh;
}

.pizzas-title{
    font-size: 50px;
    font-family: cursive;
    padding: 10px;
}

hr{
    max-width: 400px;
}

.items{
    display: flex;
    position: relative;
    top: 40px;
}

.items-name{
    position: relative;
    left: 170px;
    width: 50%;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 70px;
}

.items-price{
    text-align: right;
    width: 30%;
    font-size: 17px;
}
/*SECTION PIZZA FINISHED*/
/*MEDIAS PIZZA/DRINKS*/
@media (max-width: 700px){
    .items{
        left: -40px
    }
}

@media (max-width: 600px){
    .items{
        left: -80px;
    }
    .items-price{
        width: 50%;
        position: relative;
        left: 90px;
    }
}

@media (max-width: 400px){
    .items{
        left: -130px;
    }
    .items-price{
        position: relative;
        left: 170px;
    }
}
/*MEDIAS PIZZA/DRINKS FINISHED*/
/*SECTION DRINKS*/
#drinks{
    position: relative;
    color: white;
    background-color: black;
    height: 100vh;
    margin-bottom: 0;
}

.drinks-title{
    font-size: 50px;
    font-family: cursive;
    padding: 10px;
}

hr{
    max-width: 400px;
}

.items{
    display: flex;
    position: relative;
    top: 40px;
}

.items-name{
    position: relative;
    left: 170px;
    width: 50%;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 70px;
}

.items-price{
    text-align: right;
    width: 30%;
    font-size: 17px;
}

.item-description{
    position: relative;
    padding-left: 170px;
    top: -20px;
}

/*MEDIA ITEMS-DESCRIPTION*/
@media (max-width: 700px){
    .item-description{
        padding-left: 130px;
    }
}
@media (max-width: 600px){
    .item-description{
        padding-left: 90px;
    }
}
@media (max-width: 400px){
    .item-description{
        padding-left: 40px;
    }
}
/*MEDIA ITEMS-DESCRIPTION FINISHED*/
/*SECTION DRINKS FINISHED*/
/*SECTION MENU FINISHED*/

/*SECTION RESERVE*/
#reserve{
    margin: 0 auto;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    )
    ,url("https://media.istockphoto.com/vectors/abstract-bright-white-background-geometric-texture-vector-id1215007804?k=20&m=1215007804&s=170667a&w=0&h=v59RtiezcG4KZEuWXzYOVUWT-eRCiUKNJMOLp_YqT8k=");
    height: 66.6vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 240px;
}

.title-reserve{
    font-family: cursive;
    font-size: 67px;
    position: relative;
    bottom: 100px;
}

.reserve-form{
    padding: 10px;
    margin: 0 auto;
    position: relative;
    top: -85px;
}

.names-form{
    display: block;
    margin: 0 auto;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

input{
    padding: 2px;
}

.submit{
    background-color: green;
    color: black;
    font-size: 15px;
    font-weight: bold;
    padding: 6px;
}

.submit:hover{
    cursor: pointer;
    transform: scale(1.02);
    transition: all 0.1s;
}

/*MEDIA RESERVE*/
@media (max-width: 320px){
    .title-reserve{
        font-size: 40px;
    }
}
/*MEDIA RESERVE FINISHED*/

/*SECTION RESERVE FINISHED*/
